<div class="container">
    <h2 style="margin: 30px;">{{title}}</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" ngNativeValidate >
   
        <div class="form-group" style="margin: 30px;"  >
            <label for="title" >Title:</label>
            <input id="title" name="title"  class="form-control" placeholder="Title" [(ngModel)]="thumbnail.title" required/>
        </div>


        <div class="form-group" style="margin: 30px;" *ngIf="editFlag==false">
            <label for="AlbumId" >Album Id:</label>
            <input id="AlbumId"    name="AlbumId" class="form-control" placeholder="AlbumId" [(ngModel)]="thumbnail.albumId" type="number" min="1"/>
        </div>

        <div class="form-group" style="margin: 30px;" *ngIf="editFlag==false">
            <label for="url" >Url:</label>
            <input id="url"  name="url" class="form-control" placeholder="url" [(ngModel)]="thumbnail.url"/>
        </div>

        <div class="form-group" style="margin: 30px;" *ngIf="editFlag==false">
            <label for="thumbnailUrl" >Thumbnail Url:</label>
            <input  id="thumbnailUrl" name="thumbnailUrl" class="form-control" placeholder="thumbnailUrl" [(ngModel)]="thumbnail.thumbnailUrl"/>
        </div>


        <div class="row">
            <div class="col-6">
                <button class="btn btn-success " style="margin: 30px; width:200px" >Send</button>
            </div>
            <div class="col-6 d-flex flex-row-reverse">
                <button class="btn btn-danger " style="margin: 30px; width:200px" (click)="onCancel()" >Cancel</button>
                <button class="btn btn-primary " style="margin: 30px; width:200px" (click)="onReset()" type="reset" >Reset</button>
            </div>
             
        </div>
       
    </form>
    

</div>

<!-- <h1>{{thumbnail | json}}</h1> -->

